@model learnnet.Models.User

@{
    ViewBag.Title = "Register page";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>@TempData["RegisterError"]</h3>
<div class="login-wrapper">
    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { id = "register_form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div id="username_error" class="has-error"></div>
            @Html.ValidationMessageFor(model => Model.username, "", new { @class = "text-danger" })
            @Html.EditorFor(model => Model.username, new { htmlAttributes = new { @class = "form-control add_product_name", placeholder = "Username" } })
        </div>
        <div class="form-group">
            <div id="email_error" class="has-error"></div>
            @Html.ValidationMessageFor(model => Model.email, "", new { @class = "text-danger" })
            @Html.EditorFor(model => Model.email, new { htmlAttributes = new { @class = "form-control add_product_name", placeholder = "Email" } })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(model => Model.password, "", new { @class = "text-danger" })
            @Html.EditorFor(model => Model.password, new { htmlAttributes = new { @class = "form-control add_product_name", type = "password", placeholder = "Password" } })
        </div>
        <button id="button_register" type="submit" class="btn btn-info">Register</button>
    }
</div>