@model  IEnumerable<learnnet.Models.User>

<h2>Manage user</h2>
<p style="font-size: 28px;" class="text-action-message">@TempData["message"]</p>

<div class="add-new-category__wrapper">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        <tbody>
            @if (Model != null)
            {
                foreach (var user in Model)
                {
                    if (user.username != "superadmin")
                    {
                    <tr>
                        <td>@user.id</td>
                        <td>@user.username</td>
                        <td>@user.email</td>
                        <td>@user.role</td>
                        <td> @Html.ActionLink("Delete", "DeleteUser", "Admin", new { id = user.id }, new { @class = "btn btn-danger" }) | @Html.ActionLink("Edit", "Edit", "Admin", new { id = user.id }, new { @class = "btn btn-info" })</td>
                    </tr>
                    }
                }
            }

        </tbody>
    </table>
    @Html.ActionLink("Add User", "AddUser", "Admin", new { area = "" }, new { @class = "btn btn-success" })
</div>


