@model  IEnumerable<learnnet.Models.User>

@{
    int totalUser = ViewBag.TotalData = Utils.TotalUser();
}

<div class="intro-wrapper">
    <h2 class="col-md-6">Manage user</h2>
    <input id="search-user" placeholder="Search user" class="form-control col-md-3" autofocus />
</div>

<p style="font-size: 28px;" class="text-action-message">@TempData["message"]</p>

<div class="add-new-category__wrapper">
    <table class="table">
        <tr>
            <th class="col-md-1 sorter_name" id="sortById" data-sorting="ASC" data-name="id" data-page="1">ID <span class="arrow">⬇</span></th>
            <th class="col-md-3 sorter_name" id="sortByName" data-sorting="ASC" data-name="username" data-page="1">Name <span class="arrow">⬇</span></th>
            <th class="col-md-3 sorter_name" id="sortByEmail" data-sorting="ASC" data-name="email" data-page="1">Email <span class="arrow">⬇</span></th>
            <th class="col-md-2 sorter_name" id="sortByRole" data-sorting="ASC" data-name="role" data-page="1">Role <span class="arrow">⬇</span></th>
            <th class="col-md-3">Action</th>
        </tr>
        <tbody id="user_holder">
            @if (Model != null)
            {
                foreach (var user in Model)
                {
                    if (user.username != "superadmin")
                    {
                        <tr>
                            <td class="col-md-1">@user.id</td>
                            <td class="col-md-3">@user.username</td>
                            <td class="col-md-3">@user.email</td>
                            <td class="col-md-2">@user.role</td>
                            <td class="col-md-3">
                                @if (Utils.CanDeleteUser(Utils.CurrentUserId(User.Identity.Name)))
                                {
                                    @Html.ActionLink("Delete", "DeleteUser", "Admin", new { id = user.id }, new { @class = "btn btn-danger" }) <span>|</span>
                                }
                                @if (Utils.CanEditUser(Utils.CurrentUserId(User.Identity.Name)))
                                {
                                    @Html.ActionLink("Edit", "Edit", "Admin", new { id = user.id }, new { @class = "btn btn-info" })
                                }

                            </td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
    <h1 style="text-align: center; font-style: italic; color: red; font-size: 18px;" id="empty-user"></h1>
    @Html.Partial("_Pagination", totalUser)

    @if (Utils.CanAddUser(Utils.CurrentUserId(User.Identity.Name)))
    {
        @Html.ActionLink("Add User", "AddUser", "Admin", new { area = "" }, new { @class = "btn btn-success" })
    }

</div>

<span id="pagination_order" data-sorting="none" data-name="none"></span>

@Html.ActionLink("Hidden", "PaginationPerPage", "Admin", null, new { @class = "user_list_endpoint" })
@Html.ActionLink("Hidden", "PaginationPerStep", "Admin", null, new { @class = "user_list_endpoint_step" })
@Html.ActionLink("Hidden", "PaginationById", "Admin", null, new { @class = "user_pagination_id" })
@Html.ActionLink("Hidden", "PaginationByUsername", "Admin", null, new { @class = "user_pagination_name" })
@Html.ActionLink("Hidden", "PaginationByEmail", "Admin", null, new { @class = "user_pagination_email" })
@Html.ActionLink("Hidden", "PaginationByRole", "Admin", null, new { @class = "user_pagination_role" })
@Html.ActionLink("Hidden", "SearchUser", "Admin", null, new { @class = "user_search" })

@if (Utils.CanDeleteUser(Utils.CurrentUserId(User.Identity.Name)))
{
    <div class="user_can_delete"></div>
}
@if (Utils.CanEditUser(Utils.CurrentUserId(User.Identity.Name)))
{
    <div class="user_can_update"></div>
}


