@model IEnumerable<learnnet.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@ViewBag.Description</p>
    <p>@Html.ActionLink("Create Product", "Create", "Product", false, new { @class = "btn btn-success" })</p>
</div>
<p class="text-action-message">@TempData["message"]</p>
<div class="row">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card-wrapper">
                    <div class="card-thumbnail">
                        <img src="~/Uploads/@item.thumbnail" alt=@Html.DisplayFor(modelItem => item.name) />
                    </div>
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.name)</h2>
                    <p class="card-price">@Html.DisplayFor(modelItem => item.price)</p>
                    <div class="card-action">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.ActionLink("Edit", "Edit", "Product", new { id = item.id }, new { @class = "btn btn-info" })
                            </div>
                            <div class="col-md-6">
                                @Html.ActionLink("Delete", "Delete", "Product", new { id = item.id }, new { @class = "btn btn-danger delete_button" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
